@model WebApp.Models.Basket

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var message = TempData["Msg"]?.ToString() ?? "";
}

<h2>Корзина</h2>
@if (!string.IsNullOrWhiteSpace(message)) {
    <div class="alert alert-primary" role="alert"> @message </div>
}
<p>
    <a asp-controller="Product" asp-action="Index">Добавить товары в корзину</a>
    </p>
<table class="table">
    <thead>
    <tr>
        <th>
            @* @Html.DisplayNameFor(model => model.Name) *@
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.Price) *@
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prod.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a> 
            </td>
        </tr>
    }
    </tbody>
</table>