@model IEnumerable<WebApp.Models.Product>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = TempData["Msg"]?.ToString() ?? "";
}
<h1>Товары</h1>
@if (!string.IsNullOrWhiteSpace(message)) {
    <div class="alert alert-primary" role="alert"> @message </div>
}
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Добавить новый товар</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @if(User.IsInRole("Admin")) {
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> <text>|</text>
                    <a asp-action="Details" asp-route-id="@item.Id">Просмотр</a> <text>|</text>
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a> <text>|</text>
                    <a asp-action="Incoming" asp-route-id="@item.Id">Новое поступление</a>
                }
                else {
                    <a asp-controller="Basket" asp-action="Add" asp-route-id="@item.Id">Добавить в корзину</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
