@model IEnumerable<WebApp.Models.Shop>

@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Магазины</h1>

<p>
    <a asp-action="Create">Добавить магазин</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @if(User.IsInRole("Admin")) {
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> <text>|</text>
                <a asp-action="Details" asp-route-id="@item.Id">Просмотр</a> <text>|</text>
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                }
                else {
                    <a asp-controller="Basket" asp-action="SelectShop" asp-route-id="@item.Id">Выбрать</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
